.about {
  display: flex;
  padding: 4rem 2rem;
  gap: 1rem;
  background-color: #111827;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1,
h3 {
  color: white;
  /* font-size: 2.25rem; */
}

p {
  color: #b5d4ff;
}

.img {
  width: 100%;
}

.about a {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  color: white;
  background-color: green;
  text-decoration: none;
  border-radius: 0.5rem;
  width: 5rem;
}
.about a:hover {
  background-color: white;
  color: green;
}

@media (max-width: 61rem) {
  .about {
    flex-direction: column;
    /* gap: 2rem; */
  }
  .img {
    gap: 1rem;
    width: 80%;
  }
  .about a {
    display: flex;
    justify-content: center;
    min-width: 10rem;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading h1,
  .heading h3 {
    display: flex;
    justify-content: center;
  }
  .coding {
    display: flex;
    justify-content: center;
  }
}
